<div id="page">
    <header class="container">
        <div id="menu" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                <a href="index.html" class="navbar-brand">IEIndex</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search">Search</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section id="body" class="container">

        <div class="row">
            <ieindex-authors></ieindex-authors>

            <ieindex-articles></ieindex-articles>
        </div>

    </section>
    <hr />
    <footer class="container">
        <p>&copy; 2016 Savcosoft Ltd.</p>
    </footer>
</div>