/* You can add global styles to this file, and also import other style files */
@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

body {
    margin-top: 70px;
}

table.clickable tr:hover {
  cursor:pointer;
}

th {
    text-align: center
}